h3{
    color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: x-large;
    
}
h1{
    border:5px solid;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
    
}

.jap{
    color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: x-large;
}
.mex{
    color: rgb(255, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: x-large;
}
nav{
    background-color: rgb(30, 255, 0);
}
.head4{
    position: absolute;
}
.h2{
    position: sticky;
}
